<h2><%= @cocktail.name %></h2>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"><%= dose.description %><%= " " + "and" + " " + dose.ingredient.name + "    " %><%= link_to 'X',
      dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>
<h1>Dose (with moderation...)</h1>


  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient, collection: Ingredient.order(:name), prompt: "Pick your poison" %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<div class="align">
  <p class="btn btn-primary"><%= link_to 'Check out your other drinks', root_path %></p>
</div>
<%= cl_image_tag @cocktail.photo.key, height: 800, width: 800, :radius=>"max", crop: :fill %>
